.App {
  font-family: sans-serif;
  text-align: center;
}

div {
  display: block;
}

.machine-container {
  width: 100%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: url(https://cdn.cnn.com/cnn/interactive/2019/06/us/dad-joke-generator-trnd/media/pipes-bg.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}

.machine-foreground {
  z-index: 0;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

.pipes {
  position: relative;
  z-index: 10;
  width: 100%;
  height: auto;
}

.ball {
  margin-left: -4%;
  margin-top: -4%;
  width: 8%;
  position: absolute;
  height: auto;
  z-index: 5;
}

.title {
  top: 15%;
  left: 26%;
  width: 62%;
}

.bubble {
  position: absolute;
  height: auto;
  z-index: 20;
}

.hat {
  top: 3%;
  left: 20%;
  width: 25%;
}

.tie {
  top: 41%;
  left: 16.5%;
  width: 6%;
}

.wheel {
  top: 39.25%;
  left: 57%;
  width: 11%;
}

.hammer {
  top: 64.25%;
  left: 18%;
  width: 22%;
}

.mustache {
  top: 77.5%;
  left: 34%;
  width: 30%;
}

.lights {
  top: 33%;
  left: 83%;
  width: 15%;
  display: none;
}

.whale {
  top: 59%;
  left: 64%;
  width: 20%;
}

.dad-button {
  margin-left: 1%;
  margin-top: 0%;
  width: 8%;
  position: absolute;
  height: auto;
  z-index: 5;
}

.machine-output-area {
  position: relative;
  top: -5px;
  border-radius: 10px;
  background-color: #CEE0EB;
  color: #11446E;
  font-weight: bold;
  font-size: 1.3em;
  padding: 10px;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  height: 5em;
}

.interactive-container {
  margin-bottom: 40px;
}

.interactive-container,
.cnn-outbrain,
#comments,
#disqus_thread {
  margin: 0 auto;
  width: 95%;
  max-width: 980px;
}

.chuck-button {
  margin-left: 2%;
  margin-top: 10%;
  width: 8%;
  position: absolute;
  height: auto;
  z-index: 5;
}

.programming-button {
  margin-left: 2%;
  margin-top: 20%;
  width: 8%;
  position: absolute;
  height: auto;
  z-index: 5;
}

.manatee-button {
  margin-left: 2%;
  margin-top: 25%;
  width: 8%;
  position: absolute;
  height: auto;
  z-index: 5;
}

.ball-1 {
  top: 25%;
  left: 62%;
}

.ball-2 {
  top: 25%;
  left: 38.5%;
}

.ball-3 {
  top: 21%;
  left: 38.5%;
}

.lights {
  top: 33%;
  left: 83%;
  width: 15%;
  display: none;
}

.lights.active {
  display: block;
}

.wheel.active {
  animation: 1s linear 0s infinite forwards turnWheel;
}

.hammer.active {
  animation: 0.6s linear 0s infinite forwards swingHammer;
}

.mustache.active {
  animation: 0.2s linear 0s infinite forwards mustacheWiggle;
}

.whale.active {
  animation: 0.8s ease 0s infinite alternate swimmingWhale;
}

.tie.active {
  animation: 0.8s ease 0s infinite alternate swingTie;
}

.hat.active {
  animation: 0.8s ease 0s infinite alternate swingHat;
}

@keyframes turnWheel {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-30deg);
  }

  75% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes swingHammer {
  0% {
    transform: rotate(0deg) translateY(0);
  }

  90% {
    transform: rotate(5deg) translateY(-10%);
  }

  100% {
    transform: rotate(0deg) translateY(0);
  }
}

@keyframes mustacheWiggle {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-5deg);
  }

  75% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes swimmingWhale {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-5px);
  }
}

@keyframes swingTie {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-5px);
  }
}

@keyframes swingHat {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-5px);
  }
}