.App {
  font-family: sans-serif;
  text-align: center;
}

div {
  display: block;
}

.machine-container {
  width: 100%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: url(pipes-bg-back-1.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}

.machine-foreground {
  z-index: 0;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

.pipes {
  position: relative;
  z-index: 10;
  width: 100%;
  height: auto;
  filter: brightness(0.4);
}

.ball {
  margin-left: -4%;
  margin-top: -4%;
  width: 8%;
  position: absolute;
  height: auto;
  z-index: 5;
}

.title {
  top: 15%;
  left: 26%;
  width: 62%;
}

.bubble {
  position: absolute;
  height: auto;
  z-index: 20;
}

.hat {
  top: 3%;
  left: 20%;
  width: 25%;
}

.tie {
  top: 41%;
  left: 16.5%;
  width: 6%;
}

.wheel {
  top: 39.25%;
  left: 57%;
  width: 11%;
}

.hammer {
  top: 64.25%;
  left: 18%;
  width: 22%;
}

.mustache {
  top: 77.5%;
  left: 34%;
  width: 30%;
}

.lights {
  top: 33%;
  left: 83%;
  width: 15%;
  display: none;
}

.whale {
  top: 59%;
  left: 64%;
  width: 20%;
}

.dad-button {
  margin-left: -2%;
  margin-top: 9%;
  width: 15%;
  position: absolute;
  height: 4em;
  z-index: 5;
  background-color: #071b11;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  color: #fe8f11;
  font-weight: bold;
  font-size: 1.25em;
}

.machine-output-area {
  position: relative;
  top: -5px;
  border-radius: 10px;
  background-color: #b3b1b1;
  color: #071b2c;
  font-weight: bold;
  font-size: 1.25em;
  padding: 10px;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  height: 6em;
}

.interactive-container {
  margin-bottom: 40px;
}

.interactive-container,
.cnn-outbrain,
#comments,
#disqus_thread {
  margin: 0 auto;
  width: 95%;
  max-width: 1500px;
}

.chuck-button {
  margin-left: -2%;
  margin-top: 18%;
  width: 15%;
  position: absolute;
  height: 4em;
  z-index: 5;
  background-color: #071b11;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  color: #fe8f11;
  font-weight: bold;
  font-size: 1.25em;
}

.programming-button {
  margin-left: -2%;
  margin-top: 27%;
  width: 15%;
  position: absolute;
  height: 4em;
  z-index: 5;
  background-color: #071b11;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  color: #fe8f11;
  font-weight: bold;
  font-size: 1.25em;
}

.manatee-button {
  margin-left: -2%;
  margin-top: 36%;
  width: 15%;
  position: absolute;
  height: 4em;
  z-index: 5;
  background-color: #071b11;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  color: #fe8f11;
  font-weight: bold;
  font-size: 1.25em;
}

.ball-1 {
  top: 25%;
  left: 62%;
}

.ball-2 {
  top: 25%;
  left: 38.5%;
}

.ball-3 {
  top: 21%;
  left: 38.5%;
}

.lights {
  top: 33%;
  left: 83%;
  width: 15%;
  display: none;
}

.lights.active {
  display: block;
}

.wheel.active {
  animation: 1s linear 0s infinite forwards turnWheel;
}

.hammer.active {
  animation: 0.6s linear 0s infinite forwards swingHammer;
}

.mustache.active {
  animation: 0.2s linear 0s infinite forwards mustacheWiggle;
}

.whale.active {
  animation: 0.8s ease 0s infinite alternate swimmingWhale;
}

.tie.active {
  animation: 0.8s ease 0s infinite alternate swingTie;
}

.hat.active {
  animation: 0.8s ease 0s infinite alternate swingHat;
}

@keyframes turnWheel {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-30deg);
  }

  75% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes swingHammer {
  0% {
    transform: rotate(0deg) translateY(0);
  }

  90% {
    transform: rotate(5deg) translateY(-10%);
  }

  100% {
    transform: rotate(0deg) translateY(0);
  }
}

@keyframes mustacheWiggle {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-5deg);
  }

  75% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes swimmingWhale {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-5px);
  }
}

@keyframes swingTie {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-5px);
  }
}

@keyframes swingHat {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-5px);
  }
}

.chuck-button:active {
  background-color: #d3d3d3;
  transition: background-color 0.5s;
  ;
}

.dad-button:active {
  background-color: #d3d3d3;
  transition: background-color 0.5s;
  ;
}

.programming-button:active {
  background-color: #d3d3d3;
  transition: background-color 0.5s;
  ;
}

.manatee-button:active {
  background-color: #d3d3d3;
  transition: background-color 0.5s;
  ;
}

.emoji {
  margin-left: 75%;
  margin-top: 1%;
  width: 8%;
  position: absolute;

}

.thumbs-up-image {
  margin-left: 70%;
  margin-top: 10.5%;
  width: 9%;
  position: absolute;
  height: 4em;
  z-index: 5;
  background: url(thumbs-up.png);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: 1.25em;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.thumbsup:hover,
.thumbsup:active {
  animation: 0.8s ease 0s infinite alternate wave-animation;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0.0deg)
  }

  10% {
    transform: rotate(14.0deg)
  }

  20% {
    transform: rotate(-8.0deg)
  }

  30% {
    transform: rotate(14.0deg)
  }

  40% {
    transform: rotate(-4.0deg)
  }

  50% {
    transform: rotate(10.0deg)
  }

  60% {
    transform: rotate(0.0deg)
  }

  100% {
    transform: rotate(0.0deg)
  }
}

.heart-image {
  margin-left: 70%;
  margin-top: 21%;
  width: 9%;
  position: absolute;
  height: 4em;
  z-index: 5;
  background: url(heart.png);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: 1.25em;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.heart:hover,
.heart:active {
  animation: 0.3s linear 0s infinite forwards heartWiggle;
}

@keyframes heartWiggle {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-15deg);
  }

  75% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.thumbs-down-image {
  margin-left: 70%;
  margin-top: 31.5%;
  width: 9%;
  position: absolute;
  height: 4em;
  z-index: 5;
  background: url(thumbs-down.png);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: 1.25em;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.thumbsdown:hover,
.thumbsdown:active {
  animation: 0.8s ease 0s infinite alternate wave-animation;
}

.angry-image {
  margin-left: 70%;
  margin-top: 42%;
  width: 9%;
  position: absolute;
  height: 4em;
  z-index: 5;
  background: url(angry.png);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: 1.25em;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.angry:hover,
.angry:active {
  animation: 0.8s ease 0s infinite alternate wave-animation;
}

.programming-title {
  top: 17%;
  left: 26%;
  width: 62%;
  position: absolute;
  height: auto;
  z-index: 20;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 2em;
  font-family: emoji
}

.programming-generator-title {
  top: 22%;
  left: 26%;
  width: 62%;
  position: absolute;
  height: auto;
  z-index: 20;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  color: #fe8f11;
  font-weight: bold;
  font-size: 2.45em;
}

.laptop {
  width: 300px;
  height: 155px;
  top: -3.5%;
  overflow: hidden;
}

.laptop.active {
  animation: 0.8s ease 0s infinite alternate swingHat;
}

.man {
  width: 210px;
  height: 170px;
  top: -1.5%;
  overflow: hidden;
}

.man.active {
  animation: 0.8s ease 0s infinite alternate swingHat;
}

.manatee {
  width: 210px;
  height: 170px;
  top: -5.5%;
  overflow: hidden;
}

.manatee.active {
  animation: 0.8s ease 0s infinite alternate swingHat;
}

.python {
  width: 117px;
  height: 133px;
  top: 40.5%;
  left: 10%;
  overflow: hidden;
}

.python.active {
  animation: 0.8s ease 0s infinite alternate swingHat;
}

.java {
  width: 122px;
  height: 114px;
  top: 60%;
  left: 18.5%;
  overflow: hidden;
}

.java.active {
  animation: 0.8s ease 0s infinite alternate swingHat;
}

.c {
  width: 122px;
  height: 114px;
  top: 73.5%;
  left: 39.5%;
  overflow: hidden;
}

.c.active {
  animation: 0.8s ease 0s infinite alternate mustacheWiggle;
}

.manatea {
  width: 151px;
  height: 130px;
  top: 73.5%;
  left: 37.5%;
  overflow: hidden;
}

.manatea.active {
  animation: 0.2s linear 0s infinite forwards mustacheWiggle;
}

.html {
  width: 184px;
  height: 146px;
  top: 53.5%;
  left: 56.5%;
  overflow: hidden;
}

.html.active {
  animation: 0.2s linear 0s infinite forwards mustacheWiggle;
}

.griffin {
  width: 107px;
  height: 146px;
  top: 40.5%;
  left: 10.5%;
  overflow: hidden;
}

.griffin.active {
  animation: 0.2s linear 0s infinite forwards mustacheWiggle;
}

.familyGuy {
  width: 168px;
  height: 119px;
  top: 54.5%;
  left: 58%;
  overflow: hidden;
}

.familyGuy.active {
  animation: 0.2s linear 0s infinite forwards mustacheWiggle;
}

.chuckJoke {
  width: 151px;
  height: 130px;
  top: 72.5%;
  left: 37.5%;
  overflow: hidden;
}

.chuckJoke.active {
  animation: 0.2s linear 0s infinite forwards mustacheWiggle;
}

.realManatee {
  width: 145px;
  height: 62px;
  top: 63.5%;
  left: 19.5%;
  overflow: hidden;
}

.realManatee.active {
  animation: 0.2s linear 0s infinite forwards mustacheWiggle;
}

.yourself {
  width: 223px;
  height: 230px;
  top: 36.5%;
  left: 1%;
  overflow: hidden;
}

.yourself.active {
  animation: 0.2s linear 0s infinite forwards mustacheWiggle;
}

.name {
  width: 129px;
  height: 111px;
  top: 56.5%;
  left: 58%;
  overflow: hidden;
}

.name.active {
  animation: 0.2s linear 0s infinite forwards mustacheWiggle;
}

.cartoon {
  width: 101px;
  height: 98px;
  top: 61.5%;
  left: 19%;
  overflow: hidden;
}

.cartoon.active {
  animation: 0.2s linear 0s infinite forwards mustacheWiggle;
}

.dadJoke {
  width: 173px;
  height: 126px;
  top: 41.5%;
  left: 23%;
  overflow: hidden;
}

.dadJoke.active {
  animation: 0.2s linear 0s infinite forwards mustacheWiggle;
}

.css {
  width: 154px;
  height: 129px;
  top: 40.5%;
  left: 25%;
  overflow: hidden;
}

.css.active {
  animation: 0.2s linear 0s infinite forwards mustacheWiggle;
}

.cartoonManatee {
  width: 107px;
  height: 120px;
  top: 40.5%;
  left: 29%;
  overflow: hidden;
}

.cartoonManatee.active {
  animation: 0.2s linear 0s infinite forwards mustacheWiggle;
}

.realChuck {
  width: 98px;
  height: 111px;
  top: 42.5%;
  left: 29.5%;
  overflow: hidden;
}

.realChuck.active {
  animation: 0.2s linear 0s infinite forwards mustacheWiggle;
}

.emojiReact {
  bottom: 7%;
  right: 71.5%;
  overflow: hidden;
  margin-left: 70%;
  margin-top: 42%;
  width: 9%;
  position: absolute;
  height: 4em;
  z-index: 5;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: 1.25em;
  border: none;
}

.emojiReactThumbsUp {
  background: url(thumbs-up.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.emojiReactThumbsDown {
  background: url(thumbs-down.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.emojiReactHeart {
  background: url(heart.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.emojiReactAngry {
  background: url(angry.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.basket {
  transition: opacity 0.9s;
  opacity: 1;
}

.basket.hide {
  opacity: 0;
  pointer-events: none;
}